<ion-slides #walletGroupOnboardingSlides pager="true" class="key-onboarding-slides">
  <ion-slide>
    <div class="img-container">
      <img src="assets/img/wallet-group-tour1.svg" />
    </div>
    <div class="slide-info">
      <div class="info">
        <div class="title" translate>Your funds, on your device</div>
        <div class="text" translate>
          A wallet is like a vault stored on your device containing your crypto funds. Much like a vault, your wallet will only be accesible with the master key.
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="img-container">
      <img src="assets/img/wallet-group-tour2.svg" />
    </div>
    <div class="slide-info">
      <div class="info">
        <div class="title" translate>The "Key" to your funds</div>
        <div class="text" translate>
          Your wallet master key is a phrase composed of 12 randomly selected words. If you were to ever lose or damage your device, you can restore access to your wallet as long as you have your 12 word master key.
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="img-container">
      <img src="assets/img/wallet-group-tour3.svg" />
    </div>
    <div class="slide-info">
      <div class="info">
        <div class="title" translate>Don't lose your key!</div>
        <div class="text" translate>
          In order to protect your funds from being accessible to hackers and theives, the Master Key to your wallet must be kept somewhere safe and remain a secret.
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slides>
<div padding>
  <button ion-button clear class="next-slide-button" (click)="nextSlide()" *ngIf="walletGroupOnboardingSlides.getActiveIndex() < 2" translate>
    Next
  </button>
  <button ion-button clear class="next-slide-button" (click)="close()" *ngIf="walletGroupOnboardingSlides.getActiveIndex() == 2" translate>
    I understand
  </button>
</div>